body {
	font-family: sans-serif;
	padding:1em;
	background: #f2f2f2;
}

div,a {
	box-sizing: border-box;
}

a:visited {
	color:black;
}

a {
	text-decoration: none;
	/*clear:both;*/
	margin:1em;
	float:left;
	color: black;
}

body {
	margin:0;
}

video {
	position:fixed;
	width:100%;
	z-index: -1;
	display:block;
	top:0;
	left:0;
}

.date {
	top:0;
	right:0;
}

.button:hover {
	background: rgba(0,100,250,1);
	color:white;
	transition: 0.25s ease;
}

p {
	/*width:100%;*/	
	float:left;
}

.container {
	/*max-width:60em;*/
	width:80%;
	margin:auto 10%;
	/*max-width: 960px*/
}

#retrieve {
	/*display:none;*/
	border-top:1px solid #b8b8b8;
	margin:1em auto;
	float:left;
	width:100%;
	padding:1em 0;
}

#retrieve p {
	display:block !important;
}

/*#d1-14, #d1-2, #d1-3, #d1-4,#d1-5 {
	/*display:none;
}*/

[id^=d1-] {
	display:none;
}

#d1-23 {
	/*display:block;*/
}

.chatlog {
    float: left;
    width: 90%;
    margin: auto 5%;
    display:block;
    margin-bottom:1em;
    border-bottom: 1px solid #b8b8b8;
}

.answers {
	width:90%;
	margin:1em 5%;
	margin-top:0;
	/*border-top: 1px solid #b8b8b8;*/
	float:left;
	padding:1em 0em;
	padding-top:0;
	opacity:1;
	position:relative;
	transition: 0.3s ease;
}


.answers h1 {
	float: left;
    width: 100%;
    margin-bottom: 0.5em;
}

.chatlog h1{
	margin: 0.6em 0em;
}

.typing {
	display:none;
    float: right;
    color: #b8b8b8;
    margin: 0;
    margin-bottom: 1em;
}

.josh, .john {
	background: white;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); 
	border-radius: 2px;
	padding:0;
	margin:0.5em auto;
	height:auto;
	clear:both;	
	/*display:none;*/
	/*position:absolute;*/
}

.josh:before, .john:before {
	display:none;
}

.josh p, .john p {
	    height: 3em;
    margin: 0;
    padding: 0.8em 1.5em;
    box-sizing: border-box;
}

.josh p {	
}

.john p {

}

.josh {
	color:#BD4A4A;
	float:left;
	/*display:none;*/
	/*padding: 1em;*/
	/*clear:right;*/
}

.josh img, .john img {
    height: 3em;
    margin: 0;
}

.josh img {
	float:left;
}

.john img {
	float:right;
}

.john {
	color:#0086B3;
	float:right;
	/*clear:left;*/
}

.choice {
	background: white;
	padding:1em;
	float:left;
	width: 40%;
	margin: auto 5%;
	margin-bottom:1em;
	text-align:center;
 	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); 
 	border-radius:2px;
 	transition:0.3s ease;
}

button {
	clear: both;
	border:none;
    background: white;
    padding: 1em;
    float: left;
    width: 40%;
    margin: auto 30%;
    margin-bottom: 1em;
    text-align: center;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: 0.3s ease;
}

.text-input {
	width:100%;
}

.text-input2 {
	display:none;
}

.choice:hover,#text-button:hover, #text-button2:hover {
	transform: scale(1.025);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05); 
	transition:0.3s ease;
}

#delete {
	clear:both;
}

#date {
	padding:1em;
	float:right;
	/*background:white;*/
	/*box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); */
	/*border-radius:2px;*/
}

input {
	width:80%;
	clear:both;
	margin: 1em 10%;
	padding:1em;
	float:left;
}

input:focus {
	outline:none;
}



/*Typography*/

body, a, p, button, input {
	font-family: Source Sans Pro;
	font-size: 12pt;
	/*color: #3d3d3d;*/
}

h1 {
	margin:0;
	margin-right: 1em;
	float:left;
	color: #3d3d3d;
}